.animatedGradientText {
  position: relative;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: box-shadow 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
  padding: 0.05em 0;
}

.withBorder {
  padding: 0.35rem 0.75rem;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradientOverlay::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #020a05;
  z-index: -1;
}

.textContent {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.02em;
}
